<% 
	if (!hits.length) {
%>
	<div class="list-group-item">
		<p class="error">No results found. Please try another query.</p>
	</div>
<%
	} else {
		var q;
		var r;
		hits.forEach(function (e) {
			q = e._source.submission.split(/\r?\n/);
			r = e._source.response.split(/\r?\n/);
%>
	<div class="list-group-item">
<%
			q.forEach(function (p) {
%>
		<p style="font-weight: bold;"><%= p %></p>
<%
			});
%>
		<div class="result-ans clearfix">
			<img class="response-avatar" src="/img/avatars/<%= e.img_type ? e.img_type : img_type %>.png" />
			<div class="response-text">
<%
			r.forEach(function (q) {
%>
				<p><%= q %></p>
<%
			});
%>
			</div>
		</div>
	</div>
<%
 		});
	}
%>