#submit-query-google {
	margin-bottom: 20px;
  background-color: #EA4335;
  border-color: #BB352A;
}
#submit-query-google:hover {
  background-color: #8C281F;
  border-color: #7E241B;
}
#results-loading {
  display: none;
  text-align: center;
}

.error {
	color: red;
}

.result-cont.more {
	display: none;
}

.result-q {
	font-weight: bold;
}

#result {
	margin-bottom: 30px;
}

.response-avatar {
  width: 60px;
  float: left;
  margin: 5px 15px 0px 5px;
  border-radius: 50%;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.4);
}

.result-ans p {
  overflow: hidden;
  zoom: 1;
  padding-left: 15px;
  border-left: 1px solid #ccc;
  min-height: 70px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #DB92FF;
}
footer ul {
	font-size: 0.8em;
	list-style: none;
	float: right;
}
footer li {
	float: left;
	padding: 0px 4px;
}

.container .text-muted {
  margin: 22px 0;
}
