#submit-query-google {
	margin-bottom: 20px;
  background-color: #EA4335;
  border-color: #BB352A;
  width:50%;
  margin-left: 80px;
}
#submit-query-google:hover {
  background-color: #8C281F;
  border-color: #7E241B;
  width:50%;
  margin-left: 80px;
}
#results-loading {
  display: none;
  text-align: center;
  width:50%;
  margin-left: 80px;
}

#query {
  margin-left: 80px;
  background-color: #FFFFFF;
  width: 50%;
}

#submit-query {
  margin-left: 80px;
  width: 50%;
}

.error {
	color: red;
  width:50%;
  margin-left: 80px;
}

.result-cont.more {
	display: none;
  width:50%;
  margin-left: 80px;
}

.result-q {
	font-weight: bold;
  width:75%;
  margin-left: 80px;
}

#result {
	margin-bottom: 30px;
  width:50%;
  margin-left: 80px;
}

.response-avatar {
  width: 60px;
  float: left;
  margin: 5px 15px 0px 5px;
  border-radius: 50%;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.4);
  margin-left: 80px;
}

.result-ans p {
  overflow: hidden;
  zoom: 1;
  padding-left: 15px;
  border-left: 1px solid #ccc;
  min-height: 70px;
  background-color: #FFFFFF;
  margin-left: 80px;
}

.container{
    background-color: lightskyblue;
    animation-name: cyl;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    -webkit-animation-name: cyl;
    -webkit-animation-duration: 5s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
}

@keyframes cyl{
    0%{background-color: #66DBE8;}
    25%{background-color: #59D5E3;}
    50%{background-color: #52D0DE;}
    75%{background-color: #48CAD9;}
}
@-webkit-keyframes cyl{
    0%{background-color: #66DBE8;}
    25%{background-color: #59D5E3;}
    50%{background-color: #52D0DE;}
    75%{background-color: #48CAD9;}
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
footer ul {
	font-size: 0.8em;
	list-style: none;
	float: right;
}
footer li {
	float: left;
	padding: 0px 4px;
}

.container .text-muted {
  margin: 22px 0;
}
